.capped-box {
    -moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 20px;
}

.capped-box h3 {
    background: none repeat scroll 0 0 #F7F7F7;
    border-bottom: 1px solid #DDDDDD;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    line-height: 100%;
    margin: 0;
    padding: 10px;
}

.capped-box h3:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.mxkbody
{
	font-family:Microsoft YaHei;
	background-color: #f5f5f5;
}

.mxkbackgroud
{
  background-color: #f5f5f5;
}

.mxkplan
{
  background:#ffffff;
}

.mxkdiv{
border-radius:3px 3px 3px 3px;
width:250px;height:auto;border:#909090 1px solid;background:#fff;color:#333;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);/*ie*/
-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
box-shadow:2px 2px 10px #909090;/*opera或ie9*/
}

.mxkshadow{
border-radius:3px 3px 3px 3px;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#393939,direction=120,strength=4);/*ie*/
-moz-box-shadow: 2px 2px 10px #393939;/*firefox*/
-webkit-box-shadow: 2px 2px 10px #393939;/*safari或chrome*/
box-shadow:2px 2px 10px #393939;/*opera或ie9*/
}

.mxkshadowgolden{
border-radius:3px 3px 3px 3px;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#FFD700,direction=120,strength=4);/*ie*/
-moz-box-shadow: 2px 2px 10px #FFD700;/*firefox*/
-webkit-box-shadow: 2px 2px 10px #FFD700;/*safari或chrome*/
box-shadow:2px 2px 10px #FFD700;/*opera或ie9*/
}

.mxkshadowgreen{
border-radius:3px 3px 3px 3px;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#339900,direction=120,strength=4);/*ie*/
-moz-box-shadow: 2px 2px 10px #339900;/*firefox*/
-webkit-box-shadow: 2px 2px 10px #339900;/*safari或chrome*/
box-shadow:2px 2px 10px #339900;/*opera或ie9*/
}

.mxkshadowdeepred{
border-radius:3px 3px 3px 3px;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#FF33FF,direction=120,strength=4);/*ie*/
-moz-box-shadow: 2px 2px 10px #FF33FF;/*firefox*/
-webkit-box-shadow: 2px 2px 10px #FF33FF;/*safari或chrome*/
box-shadow:2px 2px 10px #FF33FF;/*opera或ie9*/
}

.mxkshadowdorange{
border-radius:3px 3px 3px 3px;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#FF6600,direction=120,strength=4);/*ie*/
-moz-box-shadow: 2px 2px 10px #FF6600;/*firefox*/
-webkit-box-shadow: 2px 2px 10px #FF6600;/*safari或chrome*/
box-shadow:2px 2px 10px #FF6600;/*opera或ie9*/
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin input[type="text"],.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	border-radius:3px 3px 3px 3px;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);/*ie*/
    -moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
   -webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
    box-shadow:2px 2px 10px #909090;/*opera或ie9*/
}

.mxkomitdiv
{
	text-overflow:ellipsis; 
	white-space:nowrap; 
	overflow:hidden;
}

.mxkabsolute
{
	position:absolute; 
	z-index:-1;
	opacity: 0.8;
}

.mxkrelative
{
	position:relative;
}
.mxkdivmid
{
	left:50%;position:absolute;
}

.simplediv{
	text-overflow:ellipsis; 
	white-space:nowrap;
	overflow:hidden;
}
