<div style="background:#f5f5f5;height:1200px;">
<center style="font-family:Microsoft YaHei;">
    <h3 style="font-family:Microsoft YaHei;">Hi:&nbsp;${username}</h3>
    <h4 style="font-family:Microsoft YaHei;">米兔为你精选了本周最火的8个Part!你喜欢么？&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.waileecn.com/">更多精彩</a></h3>
    <table>
       <tr>
         <td style="word-break:break-all">
	     
	     <div style="width:220px;float:left;">
	     
	         <div class="thumbnails" style="margin-left: -20px;list-style: none;*zoom: 1;">
	         
	             <div class="span3 mxkplan mxkshadow" style="width: 220px;background:#ffffff;border-radius:3px 3px 3px 3px;filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);-moz-box-shadow: 2px 2px 10px #909090;-webkit-box-shadow: 2px 2px 10px #909090;box-shadow:2px 2px 10px #909090;">
					<div class="thumbnail" style="display: block; padding: 4px;line-height: 20px;border: 1px solid #ddd;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;">
					     <table style="width:210px">
					    <tr>
					      <td>
					       <a href="http://www.waileecn.com/visitorShowPartDetailFromShare?target=${id1}"><img style="width:100%;" src="http://www.waileecn.com/mxk/image/${image1}"></a>
					      </td>
					    </tr>
					    <tr>
					      <td style="word-break:break-all;">
					       <span style="font-family:Microsoft YaHei;color:#999999;">${desc1}</span><br />
					      </td>
					    </tr>
					    <tr>
					      <td style="word-break:break-all">
					         <span class="muted" style="font-family:Microsoft YaHei;color:#999999;"><small>${info1}</small></span>
					      </td>
					    </tr>
					  </table>
					</div>
			     </div>	
			 	
			    <div style="width:10px;">&nbsp;</div>
			      
			    <div class="span3 mxkplan mxkshadow" style="width: 220px;background:#ffffff;border-radius:3px 3px 3px 3px;filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);-moz-box-shadow: 2px 2px 10px #909090;-webkit-box-shadow: 2px 2px 10px #909090;box-shadow:2px 2px 10px #909090;">
					<div class="thumbnail" style="display: block; padding: 4px;line-height: 20px;border: 1px solid #ddd;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;">
					     <table style="width:210px">
					    <tr>
					      <td>
					       <a href="http://www.waileecn.com/visitorShowPartDetailFromShare?target=${id2}"><img style="width:100%;" src="http://www.waileecn.com/mxk/image/${image2}"></a>
					      </td>
					    </tr>
					    <tr>
					      <td style="word-break:break-all">
					       <span style="font-family:Microsoft YaHei;color:#999999;">${desc2}</span><br />
					      </td>
					    </tr>
					    <tr>
					      <td style="word-break:break-all">
					         <span class="muted" style="font-family:Microsoft YaHei;color:#999999;"><small>${info2}</small></span>
					      </td>
					    </tr>
					  </table>
					</div>
			     </div>	  
         
            </div>
       </div>
       
       
       <div style="width:10px;float:left;">&nbsp;</div>
       <div style="width:220px;float:left;">
	     
	         <div class="thumbnails" style="margin-left: -20px;list-style: none;*zoom: 1;">
	         
	             <div class="span3 mxkplan mxkshadow" style="width: 220px;background:#ffffff;border-radius:3px 3px 3px 3px;filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);-moz-box-shadow: 2px 2px 10px #909090;-webkit-box-shadow: 2px 2px 10px #909090;box-shadow:2px 2px 10px #909090;">
					<div class="thumbnail" style="display: block; padding: 4px;line-height: 20px;border: 1px solid #ddd;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;">
					     <table style="width:210px">
					    <tr>
					      <td>
					       <a href="http://www.waileecn.com/visitorShowPartDetailFromShare?target=${id3}"><img style="width:100%;" src="http://www.waileecn.com/mxk/image/${image3}"></a>
					      </td>
					    </tr>
					    <tr>
					      <td style="word-break:break-all">
					       <span style="font-family:Microsoft YaHei;color:#999999;">${desc3}</span><br />
					      </td>
					    </tr>
					    <tr>
					      <td style="word-break:break-all">
					         <span class="muted" style="font-family:Microsoft YaHei;color:#999999;"><small>${info3}</small></span>
					      </td>
					    </tr>
					  </table>
					</div>
			     </div>	
			 	
			    <div style="width:10px;">&nbsp;</div>
			      
			    <div class="span3 mxkplan mxkshadow" style="width: 220px;background:#ffffff;border-radius:3px 3px 3px 3px;filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);-moz-box-shadow: 2px 2px 10px #909090;-webkit-box-shadow: 2px 2px 10px #909090;box-shadow:2px 2px 10px #909090;">
					<div class="thumbnail" style="display: block; padding: 4px;line-height: 20px;border: 1px solid #ddd;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;">
					     <table style="width:210px">
					    <tr>
					      <td>
					       <a href="http://www.waileecn.com/visitorShowPartDetailFromShare?target=${id4}"><img style="width:100%;" src="http://www.waileecn.com/mxk/image/${image4}"></a>
					      </td>
					    </tr>
					    <tr>
					      <td style="word-break:break-all">
					       <span style="font-family:Microsoft YaHei;color:#999999;">${desc4}</span><br />
					      </td>
					    </tr>
					    <tr>
					      <td style="word-break:break-all">
					          <span class="muted" style="font-family:Microsoft YaHei;color:#999999;"><small>${info4}</small></span>
					      </td>
					    </tr>
					  </table>
					</div>
			     </div>	  
         
            </div>
       </div>
       
       
       
       <div style="width:10px;float:left;">&nbsp;</div>
       <div style="width:220px;float:left;">
	     
	         <div class="thumbnails" style="margin-left: -20px;list-style: none;*zoom: 1;">
	         
	             <div class="span3 mxkplan mxkshadow" style="width: 220px;background:#ffffff;border-radius:3px 3px 3px 3px;filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);-moz-box-shadow: 2px 2px 10px #909090;-webkit-box-shadow: 2px 2px 10px #909090;box-shadow:2px 2px 10px #909090;">
					<div class="thumbnail" style="display: block; padding: 4px;line-height: 20px;border: 1px solid #ddd;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;">
					     <table style="width:210px">
					    <tr>
					      <td>
					       <a href="http://www.waileecn.com/visitorShowPartDetailFromShare?target=${id5}"><img style="width:100%;" src="http://www.waileecn.com/mxk/image/${image5}"></a>
					      </td>
					    </tr>
					    <tr>
					      <td style="word-break:break-all">
					        <span><a style="font-family:Microsoft YaHei;color:#999999;">${desc5}</span><br />
					      </td>
					    </tr>
					    <tr>
					      <td style="word-break:break-all">
					         <span class="muted" style="font-family:Microsoft YaHei;color:#999999;"><small>${info5}</small></span>
					      </td>
					    </tr>
					  </table>
					</div>
			     </div>	
			 	
			    <div style="width:10px;">&nbsp;</div>
			      
			    <div class="span3 mxkplan mxkshadow" style="width: 220px;background:#ffffff;border-radius:3px 3px 3px 3px;filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);-moz-box-shadow: 2px 2px 10px #909090;-webkit-box-shadow: 2px 2px 10px #909090;box-shadow:2px 2px 10px #909090;">
					<div class="thumbnail" style="display: block; padding: 4px;line-height: 20px;border: 1px solid #ddd;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;">
					     <table style="width:210px">
					    <tr>
					      <td>
					       <a href="http://www.waileecn.com/visitorShowPartDetailFromShare?target=${id6}"><img style="width:100%;" src="http://www.waileecn.com/mxk/image/${image6}"></a>
					      </td>
					    </tr>
					    <tr>
					      <td style="word-break:break-all">
					       <span style="font-family:Microsoft YaHei;color:#999999;" >${desc6}</span><br />
					      </td>
					    </tr>
					    <tr>
					      <td style="word-break:break-all">
					         <span class="muted" style="font-family:Microsoft YaHei;color:#999999;"><small>${info6}</small></span>
					      </td>
					    </tr>
					  </table>
					</div>
			     </div>	  
         
            </div>
       </div>
       
       
       <div style="width:10px;float:left;">&nbsp;</div>
       <div style="width:220px;float:left;">
	     
	         <div class="thumbnails" style="margin-left: -20px;list-style: none;*zoom: 1;">
	         
	             <div class="span3 mxkplan mxkshadow" style="width: 220px;background:#ffffff;border-radius:3px 3px 3px 3px;filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);-moz-box-shadow: 2px 2px 10px #909090;-webkit-box-shadow: 2px 2px 10px #909090;box-shadow:2px 2px 10px #909090;">
					<div class="thumbnail" style="display: block; padding: 4px;line-height: 20px;border: 1px solid #ddd;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;">
					     <table style="width:210px">
					    <tr>
					      <td>
					       <a href="http://www.waileecn.com/visitorShowPartDetailFromShare?target=${id7}"><img style="width:100%;" src="http://www.waileecn.com/mxk/image/${image7}"></a>
					      </td>
					    </tr>
					    <tr>
					      <td style="word-break:break-all">
					       <span style="color:#999999;font-family:Microsoft YaHei;">${desc7}</span><br />
					      </td>
					    </tr>
					    <tr>
					      <td style="word-break:break-all">
					         <span class="muted" style="color:#999999;font-family:Microsoft YaHei;"><small>${info7}</small></span>
					      </td>
					    </tr>
					  </table>
					</div>
			     </div>	
			 	
			    <div style="width:10px;">&nbsp;</div>
			      
			    <div class="span3 mxkplan mxkshadow" style="width: 220px;background:#ffffff;border-radius:3px 3px 3px 3px;filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);-moz-box-shadow: 2px 2px 10px #909090;-webkit-box-shadow: 2px 2px 10px #909090;box-shadow:2px 2px 10px #909090;">
					<div class="thumbnail" style="display: block; padding: 4px;line-height: 20px;border: 1px solid #ddd;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;">
					     <table style="width:210px">
					    <tr>
					      <td>
					       <a href="http://www.waileecn.com/visitorShowPartDetailFromShare?target=${id8}"><img style="width:100%;" src="http://www.waileecn.com/mxk/image/${image8}"></a>
					      </td>
					    </tr>
					    <tr>
					      <td style="word-break:break-all">
					       <span  style="color:#999999;font-family:Microsoft YaHei;">${desc8}</span><br />
					      </td>
					    </tr>
					    <tr>
					      <td style="word-break:break-all">
					        <span class="muted" style="color:#999999;font-family:Microsoft YaHei;"><small>${info7}</small></span>
					      </td>
					    </tr>
					  </table>
					</div>
			     </div>	  
         
            </div>
       </div>
       
       
       </td>
       </tr>
    </table>
    <h3 style="font-family:Microsoft YaHei;">米兔 - 我看到我分享！</h3>
</center>
  </div>